body {
    background-color: rgb(193, 227, 230);
}

.main {
    background-color: rgb(193, 227, 230);
    display: grid;
    text-align: center;
    gap: 1ch;
    justify-content: center;
    flex-direction: grid;
}

.header {
    margin: 1em;
    background: rgb(96, 206, 221);
    width: 100%;
}

.search {
    padding: 0.5em;
    margin: 0.5em 1em;
}

h2 {
    padding: 1em;
}

h4 {
    padding: 1em;
}

.content {
    display: grid;
    place-content: center;
    border: 10px solid rgb(blue)
}

.card {
    background-color: rgb(180, 225, 231);
    place-content: center;
    transition: 0.7s linear;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: rgb(96, 206, 221);
    place-content: center;
    text-align: center
}