body {
    background-image: url('images/fan-tan-alley.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.9;
}

.main {
    display: grid;
    text-align: center;
    gap: 1ch;
    grid-column-start: auto;
}

.header {
    background: rgb(96, 206, 221);
    width: 100%;
    border-radius: 25px;
    position: fixed;
}

#searchBar {
    padding: 0.5em;
    margin: 0.5em 1em;
    border-radius: 10px;
}

h2 {
    padding: 1em;
}

h4 {
    padding: 0.4em;
}

.content {
    display: grid;
    place-content: center bottom;
    justify-content: center;
}

.card {
    background-color: rgb(228, 110, 74);
    place-content: center;
    border: 10px solid rgb(blue);
    border-radius: 25px;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: rgb(96, 206, 221);
    place-content: center;
    text-align: center
}